
<div class="card mb-3 border-success taskData parentTaskData{{id}} {{#if isComplete}} {{else}}hidden{{/if}}" id = "taskData{{id}}" data-task-id={{id}} data-is-complete-version="true">
    <div class="card-body">
        <div class="d-flex justify-content-between">            
            <h5 class="card-title text-success"><a class = "taskName text-reset text-decoration-none" href = "#">{{name}}</a>&nbsp;&nbsp;&nbsp;<span class="badge bg-success">Completed</span></h5>
            <div class="text-end">
                <div class="d-flex align-items-center gap-2 justify-content-end">
                    <label for="dueDate{{id}}" class="form-label mb-0"><strong>Due Date:</strong></label>
                    <input type="date" class="form-control form-control-sm w-auto dueDate" id="dueDate{{id}}" value="{{dueDate}}">
                    <div class="user-circle assigneeInitials" data-bs-toggle="modal" data-bs-target="#selectUserModal">{{assigneeInitials}}</div>   
                </div>                 
            </div>
        </div>
        <div class="mb-3">
            <label for="description1" class="form-label">Description</label>
            <textarea class="form-control description" rows="3">{{description}}</textarea>
        </div>
        <div class="mt-3">
            <h6 class="fw-bold">Subtasks</h6>
            <ul class="list-group">
                {{#each allSubtasks}}
                    <li class="list-group-item">
                        <div class="form-check taskData d-flex align-items-center" id = "taskData{{id}}" data-task-id={{id}} data-is-subtask="true">
                            <input class="form-check-input me-2 mb-1 markComplete" type="checkbox" value="" {{#if isComplete}}checked{{/if}} data-is-complete={{#if isComplete}}"true"{{else}}"false"{{/if}}>
                            <label class="form-check-label w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href = "#" class = "text-reset text-decoration-none taskName">{{name}}</a> 
                                    <div class="d-flex align-items-center gap-2">
                                        <input type="date" class="form-control form-control-sm w-auto dueDate" id="dueDate{{id}}" value="{{dueDate}}">
                                        <div class="user-circle assigneeInitials" data-bs-toggle="modal" data-bs-target="#selectUserModal">{{assigneeInitials}}</div>
                                    </div>
                                    <textarea class="form-control description" hidden>{{description}}</textarea>
                                </div>
                            </label>
                        </div>
                    </li>
                {{/each}}                
            </ul>
            <button class="btn btn-outline-primary btn-sm mt-2 addSubtaskButton">Add Subtask</button>                
        </div>
        <br>

        <button id = "markComplete{{id}}" class="btn btn-success markComplete" data-is-complete="true">Mark Uncomplete</button>
    </div>
</div>
   
<div class="card mb-3 taskData parentTaskData{{id}} {{#if isComplete}} hidden{{/if}}" id = "taskData{{id}}" data-task-id={{id}} data-is-complete-version="false">
    <div class="card-body">
        <div class="d-flex justify-content-between">            
            <h5 class="card-title"><a class = "taskName text-reset text-decoration-none" href = "#">{{name}}</a></h5>
            <div class="text-end">
                <div class="d-flex align-items-center gap-2 justify-content-end">
                    <label for="dueDate{{id}}" class="form-label mb-0"><strong>Due Date:</strong></label>
                    <input type="date" class="form-control form-control-sm w-auto dueDate" id="dueDate{{id}}" value="{{dueDate}}">
                    <div class="user-circle assigneeInitials" data-bs-toggle="modal" data-bs-target="#selectUserModal">{{assigneeInitials}}</div>   
                </div>                 
            </div>
        </div>
        <div class="mb-3">
            <label for="description1" class="form-label">Description</label>
            <textarea class="form-control description" rows="3">{{description}}</textarea>
        </div>
        <div class="mt-3">
            <h6 class="fw-bold">Subtasks</h6>
            <ul class="list-group">
                {{#each allSubtasks}}
                    <li class="list-group-item">
                        <div class="form-check taskData d-flex align-items-center" id = "taskData{{id}}" data-task-id={{id}} data-is-subtask="true">
                            <input class="form-check-input me-2 mb-1 markComplete" type="checkbox" value="" {{#if isComplete}}checked{{/if}} data-is-complete={{#if isComplete}}"true"{{else}}"false"{{/if}}>
                            <label class="form-check-label w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href = "#" class = "text-reset text-decoration-none taskName">{{name}}</a> 
                                    <div class="d-flex align-items-center gap-2">
                                        <input type="date" class="form-control form-control-sm w-auto dueDate" id="dueDate{{id}}" value="{{dueDate}}">
                                        <div class="user-circle assigneeInitials" data-bs-toggle="modal" data-bs-target="#selectUserModal">{{assigneeInitials}}</div>
                                    </div>
                                    <textarea class="form-control description" hidden>{{description}}</textarea>
                                </div>
                            </label>
                        </div>
                    </li>
                {{/each}}                
            </ul>                
            <button class="btn btn-outline-primary btn-sm mt-2 addSubtaskButton">Add Subtask</button>
        </div>
        <br>

        <button id = "markComplete{{id}}" class="btn btn-success markComplete" data-is-complete="false">Mark Complete</button>
    </div>
</div>